name: marquee
description: "â© A Flutter widget that scrolls text infinitely. Provides many
  customizations including custom scroll directions, durations, curves as well
  as pauses after every round."
version: 2.1.0
repository: https://github.com/marcelgarus/marquee

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  fading_edge_scrollview: ^2.0.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
